<div id='mainbox'>
  <p></p>

  <div id="headerTemplate">
    <img src="html/clubbeauty/Banner.png"/>
  </div>
  <div><button onclick="openNewSession()">Give me a makeover!</button></div>
  <div id="avContents">
    <img src="html/clubbeauty/Mascot.png"/>
    <div id="playersBox"/>
  </div>


  <div id="avcontainer" class="avcontainer" style="display: none;">
      <div id="hairback"><img /><canvas></canvas><img /></div>
      <div id="av_Head"><img /><canvas></canvas></div>
      <div id="eyes"><img /><canvas></canvas><img /></div>
      <div id="lips"><img /><canvas></canvas><img /></div>
      <div id="hair"><img /><canvas></canvas><img /></div>
      <div id="av_Body"><img /><canvas></canvas></div>
      <div id="shoes"><img /><canvas></canvas><img /></div>
      <div id="bottoms"><img /><canvas></canvas><img /></div>
      <div id="tops"><img /><canvas></canvas><img /></div>
      <div id="purse"><img /><canvas></canvas><img /></div>
      <div id="av_Fist"><img /><canvas></canvas></div>
      <div id="sleeves"><img /><canvas></canvas><img /></div>
      <div id="jewelry"><img /><canvas></canvas><img /></div>
      <div id="more"><img /><canvas></canvas><img /></div>
      <img id="relativer" style="height: 230px; width: 150px; position: relative;">
  </div>
</div>

<style>
  #avContents {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90%;
  }
  #playersBox {
    overflow: scroll;
    border: 1px #aabbcc solid;
    width: 80%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    text-align: center;
  }
  .avcontainer {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .avcontainer img,canvas {
    position: absolute;
    max-width: 150px;
    max-height: 230px;
  }

  .avcontainer div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mainbox {
    display: flex;
    flex-direction: column;
  }
  html {
    overflow: hidden;
  }
  body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
  }
</style>

<script>
  function geid(id){return document.getElementById(id);}
  function curTimeMs(){return Date.now();}
  const MB = geid('mainbox');
  const api = "https://immpythan.pythonanywhere.com";
  const apiPng = '';

  const showCaseIDs = ["mamabarbie11", "gm", "alice", "glamgirl34", "yuriko", "masnah"]
  const cats = ["hair","eyes","lips","tops","sleeves","bottoms","shoes","purse","jewelry","more"];
  var isMobileView = false;
  var avW, avH;

  function handleImgError(imgN){imgN.src = "https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/HD_transparent_picture.png/320px-HD_transparent_picture.png";}
  function saveCache(key,val){localStorage[key] = val;}
  function getCache(key){return localStorage[key];}
  
  function getApi(method)
  {
     let xhr = new XMLHttpRequest();
     xhr.open("POST", api+"/"+method);
     return xhr;
  }
  
  function get_avcontainerCanvas(resdata)
  {
    let outfitsDict = JSON.parse(resdata.outfits);
    let colorsDict = JSON.parse(resdata.colors);
    let sc = JSON.parse(resdata.skinColor);
    let adiv = geid("avcontainer").cloneNode(true);
    adiv.id = "avc";
    adiv.style.display = "flex";
    var images = adiv.getElementsByTagName("img");
    for(let i=0; i<images.length; i++) {images[i].onerror = function() {handleImgError(this);};}    
    let catdivs = adiv.getElementsByTagName("div");
    for(let catDiv of catdivs)
    {
      let category = catDiv.id;
      if(!outfitsDict.hasOwnProperty(category)) continue;
      let filename = outfitsDict[category].toLowerCase();
      filename = filename.replace("_front","");
      filename = filename.replace("_back","back");
      if(filename=="") continue;
      let defaultImg = catDiv.childNodes.item(0);
      let colorableCanvas = catDiv.childNodes.item(1);
      let textureImg = catDiv.childNodes.item(2);
      if(colorsDict.hasOwnProperty(category) || category=='hairback')
      {
        let c; if(category=='hairback') c = colorsDict['hair']; else c = colorsDict[category];
        let rgb = "rgb("+c.r+" "+c.g+" "+c.b+")";
        if(rgb != "rgb(0 0 0)")
        {
          colorableCanvas.data = apiPng + "html/"+category+"/"+filename+"c.png";
          defaultImg.onload = function(){
            setColor(this, colorableCanvas, rgb);
          };
        }
        else colorableCanvas.style.visibility = 'hidden'; //use default color
      }
      else colorableCanvas.style.visibility = 'hidden'; //no color set for this category
      defaultImg.src = apiPng + "html/"+category+"/"+filename+".png";
      textureImg.src = apiPng + "html/"+category+"/"+filename+"t.png";
      //set av skin color
      let skinRGB = "rgb("+sc.r+" "+sc.g+" "+sc.b+")";
      let av_head,av_head_c, av_body,av_body_c, av_fist,av_fist_c;
      for(let adiv of catdivs)
      {
        if(adiv.id=='av_Head') {av_head=adiv.childNodes.item(0); av_head_c=adiv.childNodes.item(1);}
        else if(adiv.id=='av_Body') {av_body=adiv.childNodes.item(0); av_body_c=adiv.childNodes.item(1);}
        else if(adiv.id=='av_Fist') {av_fist=adiv.childNodes.item(0); av_fist_c=adiv.childNodes.item(1);}
      }
      if(skinRGB != "rgb(0 0 0)")
      {
        av_head_c.data = apiPng+"html/avatar/avatar_head_c.png"; 
        av_head.onload = function(){ setColor(this, av_head_c, skinRGB);};
        av_body_c.data = apiPng+"html/avatar/avatar_body_c.png"; 
        av_body.onload = function(){ setColor(this, av_body_c, skinRGB);};
        av_fist_c.data = apiPng+"html/avatar/avatar_fist_c.png"; 
        av_fist.onload = function(){ setColor(this, av_fist_c, skinRGB);};
      }
      av_head.src = apiPng + "html/avatar/avatar_head.png";
      av_body.src = apiPng + "html/avatar/avatar_body.png";
      av_fist.src = apiPng + "html/avatar/avatar_fist.png";
    }
    return adiv;
  }
  
  function setColor(defImg, colorableCanvas, color)
  {
    let img=new Image();
    img.onload = function () {
      let cw = defImg.width, ch = defImg.height;
      colorableCanvas.width = cw; colorableCanvas.height = ch;
      let ctx = colorableCanvas.getContext('2d'); 
      
      ctx.drawImage(img,0,0,cw,ch); //draw original colorable img
      let c=document.createElement('canvas');
      c.width=img.width;
      c.height=img.height;
      let cctx=c.getContext('2d');
      cctx.drawImage(img,0,0,cw,ch);
      cctx.globalCompositeOperation='source-atop';
      cctx.fillStyle=color;
      cctx.fillRect(0,0,cw,ch); //draw colorable img with full new color to canvas c
      ctx.globalCompositeOperation='multiply';
      ctx.drawImage(c,0,0); // draw the fully colored canvas c by multiply on the original colorable(white/grey) image
      ctx.globalCompositeOperation='source-over';
      colorableCanvas.style.visibility = 'visible';
    }
    img.src = colorableCanvas.data; //reset to original colorable img before set new color
  }
  
  function openNewSession()
  {
    let xhr = getApi("fetchClubBeauty");
    let formData = new FormData();
      formData.append("sid", '0');
      xhr.onload = () => {
        let resJson = JSON.parse(xhr.responseText);
        uploadLocalOutfit(resJson.sid);
      };
      xhr.send(formData);
  }
  
  function uploadLocalOutfit(sid)
  {
    let xhr = getApi("saveClubBeauty");
    let formData = new FormData();
    formData.append("sid", sid);
    let modelOutfit = {};
    let modelColors = {};
    for(let cat of cats)
    {
      let saved = getCache(cat);
      if(saved && saved!="null")
        modelOutfit[cat] = saved;
      let savedColor = getCache(cat+"-color");
      if(savedColor && savedColor!="null") 
        modelColors[cat] = savedColor;
    }
    let savedSkinColor = getCache("skinColor");
      if(savedSkinColor && savedSkinColor!="null") 
        modelColors["skin"] = savedSkinColor;
    formData.append("modelOutfits", JSON.stringify(modelOutfit));
    formData.append("modelColors", JSON.stringify(modelColors));
      xhr.onload = () => {
        //create link for share
        alert("Your dress up has been uploaded for makeover session: "+sid);
        navigator.clipboard.writeText(sid);
      };
      xhr.send(formData);
  }
  

  function showCaseClubMembers()
  {
    for(let id of showCaseIDs)
    {
      let xhr = getApi("fetchDressUp");
      let formData = new FormData();
      formData.append("id", id);
      xhr.onload = () => {
        if(xhr.responseText=='') return;
        let resJson = JSON.parse(xhr.responseText);
        geid("playersBox").appendChild(get_avcontainerCanvas(resJson));
      };
      xhr.send(formData);
    }  
  }
  
  function showCaseMakeoverSessions()
  {
  }
  function refreshMainboxSize(){MB.style.height = (window.innerHeight - MB.getBoundingClientRect().top -10) +'px';}
  
  function initView()
  {
    let urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has("m")) isMobileView = true;
    handleImgError(geid("relativer"));
    showCaseClubMembers();
    //setInterval(function(){if(document.visibilityState=="visible") syncOnlineData();}, 2000); // sync online every 2 seconds if document visible
    document.oncontextmenu=function(){return false;};
    //window.onload = function(){refreshMainboxSize();};
  }
  initView();
  
</script>


