<div id='mainbox'>
  <dialog id="creditsDialog" style="width: 50%;">
    <button autofocus onclick="closeCredits()">Close</button>
    <p>Special thanks to the talented Vernorexia for her beautiful * starry dress * + also regards to a multi-talented groups of internal and external members who created these assets  (would you like to get credited? having more thoughts on to improving this website? let me know on discord)</p>
  </dialog>
  <div style="display: none;" id="clubBeautyLabels">
    <span>Club Beauty </span>
    <button onclick="submitMakeover()">Submit Makeover</button>
  </div>
  <div style="display: flex;flex-direction: row;align-items: center; height: 70%">
    <div id="avcontainer">
      <div id="hairback"><img /><canvas></canvas><img /></div>
      <img id="av_head" /><canvas id="av_head_c"></canvas>
      <div id="eyes"><img /><canvas></canvas><img /></div>
      <div id="lips"><img /><canvas></canvas><img /></div>
      <div id="hair"><img /><canvas></canvas><img /></div>
      <img id="av_body" /><canvas id="av_body_c"></canvas>
      <div id="shoes"><img /><canvas></canvas><img /></div>
      <div id="bottoms"><img /><canvas></canvas><img /></div>
      <div id="tops"><img /><canvas></canvas><img /></div>
      <div id="purse"><img /><canvas></canvas><img /></div>
      <img id="av_fist" /><canvas id="av_fist_c"></canvas>
      <div id="sleeves"><img /><canvas></canvas><img /></div>
      <div id="jewelry"><img /><canvas></canvas><img /></div>
      <div id="more"><img /><canvas></canvas><img /></div>
      <img style="height: 500px; position: relative;" />
    </div>
    <div style="width: 40%;">
      <label style="font: menu;font-size: 11px;" id="categoryLabel">CATEGORY</label>
      <button class="whiteButtons" onclick="unwear()">Remove</button>
      <div id="curThumbnails"></div>
    </div>
  </div>
  <div style="display: flex;flex-direction: row;">
    <div id="skin-colors" style="width: 60%;">
      <div class="color" style="background-color:rgb(255 243 230);"></div>
      <div class="color" style="background-color:rgb(253 220 210);"></div>
      <div class="color" style="background-color:rgb(246 211 176);"></div>
      <div class="color" style="background-color:rgb(223 176 118);"></div>
      <div class="color" style="background-color:rgb(204 125 54);"></div>
      <div class="color" style="background-color:rgb(165 105 51);"></div>
      <div class="color" style="background-color:rgb(133 71 14);"></div>
      <div class="color" style="background-color:rgb(105 51 11);"></div>
      <div class="color" style="background-color:rgb(138 102 68);"></div>
      <div class="color" style="background-color:rgb(80 40 10);"></div>
      <div class="color" style="background-color:rgb(116 67 48);"></div>
      <div class="color" style="background-color:rgb(124 57 49);"></div>
      <div class="color" style="background-color:rgb(191 130 85);"></div>
      <div class="color" style="background-color:rgb(251 191 255);"></div>
      <div class="color" style="background-color:rgb(254 143 195);"></div>
      <div class="color" style="background-color:rgb(241 103 103);"></div>
      <div class="color" style="background-color:rgb(253 243 104);"></div>
      <div class="color" style="background-color:rgb(102 223 92);"></div>
      <div class="color" style="background-color:rgb(93 243 165);"></div>
      <div class="color" style="background-color:rgb(173 240 252);"></div>
      <div class="color" style="background-color:rgb(59 103 214);"></div>
      <div class="color" style="background-color:rgb(141 96 244);"></div>
    </div>
    <div style="width: 40%; border: 1px #aabbcc solid; text-align: center;">
        <div id="base-colors">
          <div class="color" style="background-color: #ffb3ba;"></div>
          <div class="color" style="background-color: #ffdfba;"></div>
          <div class="color" style="background-color: #ffffba;"></div>
          <div class="color" style="background-color: #baffc9;"></div>
          <div class="color" style="background-color: #bae1ff;"></div>
        </div>
        <button class="whiteButtons" onclick="resetColor()">Reset Color</button>
      </div>
  </div>
  <div id="catButtons" style="margin-top: 7px;">
    <button onclick="selectCategory('hair')">Hair</button>
    <button onclick="selectCategory('eyes')">Eyes</button>
    <button onclick="selectCategory('lips')">Lips</button>
    <button onclick="selectCategory('tops')">Tops</button>
    <button onclick="selectCategory('sleeves')">Sleeves</button>
    <button onclick="selectCategory('bottoms')">Bottoms</button>
    <button onclick="selectCategory('shoes')">Shoes</button>
    <button onclick="selectCategory('purse')">Purse</button>
    <button onclick="selectCategory('jewelry')">Jewelry</button>
    <button onclick="selectCategory('more')">More</button>
  </div>
  <p></p>
  <div>
    <button id="creditsButton"  onclick="showCredits()">Credits</button>
    <a href="https://form.jotform.com/240800720690045">Add my drawings too!</a>
  </div>
</div>
  
  <script>
    function geid(id){return document.getElementById(id);}
    const MB = geid('mainbox');
    const cats = ["hair","eyes","lips","tops","sleeves","bottoms","shoes","purse","jewelry","more"];
    const apiPrefix = "";
    const assetSize = {hair: 16, eyes: 8, lips: 5, tops: 29, sleeves: 3, bottoms: 11, shoes: 13, purse: 7, jewelry: 11, more: 8};
    const transparent = "https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/HD_transparent_picture.png/320px-HD_transparent_picture.png";
    var currentCategory = "";
    var clubBeautySession = "";
    var cbMakeoverDict = {};
    const colorsDict = {
      'hair': ["117 47 22","147 167 176","146 66 151","42 55 107","219 43 113","179 131 85","0 0 0","77 77 77","114 191 68","14 20 14","243 229 201","181 128 82","239 217 177","204 175 89","138 102 68","233 199 101","128 87 59","247 238 205","35 43 34","234 232 222","237 199 89","144 97 64","113 72 42","185 65 18","84 65 43","229 213 186","231 216 192","188 75 163"],
      'eyes': ["0 113 143","124 144 44","102 80 30","188 143 217","68 214 248","37 27 1","105 175 0","146 164 174","121 163 221","173 141 72","166 170 133","170 182 203","94 185 202","89 55 34","123 62 51","71 102 178","165 132 84","99 133 177","115 101 105","44 101 56","89 101 104","89 84 101","74 92 110","62 117 143","118 197 176","160 195 188","193 235 230","203 229 235","200 236 206","210 209 180","202 188 129","223 204 174","222 177 163","216 109 111","86 138 98","101 79 115"],
      'lips': ["197 18 76","181 56 26","198 68 75","229 56 147","250 135 178","254 211 234","114 10 99","158 10 23","219 40 114","222 177 163","216 109 111","248 188 166","167 219 225","253 227 112","255 128 52","222 225 231","247 239 193","205 177 34","250 134 241","141 61 152","131 171 173","202 170 147","203 38 41","248 233 202","255 255 255","160 157 204","251 199 215","34 26 2","177 214 137","224 151 198","118 50 37","41 52 104","37 154 150","236 110 154","37 154 150"],
      'others': ["241 122 163","224 151 198","236 110 110","252 44 169","219 40 114","243 13 105","203 38 41","255 0 0","255 128 52","255 190 56","255 245 0","253 227 112","247 239 193","205 177 34","207 255 104","161 205 140","88 148 60","31 118 56","161 246 216","108 182 186","13 38 125","0 18 178","64 116 223","136 163 218","18 185 239","167 219 225","148 255 249","141 61 152","164 109 162","125 44 146","65 41 104","203 147 227","250 134 241","222 225 231","181 176 172","34 26 2","255 255 255","118 50 37","144 97 64","202 170 147"]
    }
    
    
    function handleImgError(imgN){imgN.src = transparent;}
    function saveCache(key,val){localStorage[key] = val;}
    function getCache(key){return localStorage[key];}
    function getApi(method)
    {
       let xhr = new XMLHttpRequest();
       xhr.open("POST", "https://ec2-18-142-73-127.ap-southeast-1.compute.amazonaws.com:5000/"+method);
       return xhr;
    }
    
    function initView()
    {
      geid("av_head").src = apiPrefix + "html/avatar/avatar_head.png";
      geid("av_body").src = apiPrefix + "html/avatar/avatar_body.png";
      geid("av_fist").src = apiPrefix + "html/avatar/avatar_fist.png";
      geid("av_head_c").data = apiPrefix + "html/avatar/avatar_head_c.png";
      geid("av_body_c").data = apiPrefix + "html/avatar/avatar_body_c.png";
      geid("av_fist_c").data = apiPrefix + "html/avatar/avatar_fist_c.png";
      var images = geid("avcontainer").getElementsByTagName("img");
      for(let i=0; i<images.length; i++) {images[i].onerror = function() {handleImgError(this);};}    
      let colorskin = geid("skin-colors").getElementsByClassName("color");
      for(let c of colorskin)
        c.onclick = function(){clickedSkinColor(this.style.backgroundColor);};
      geid("skin-colors").addEventListener("wheel", function(e){if(e.deltaY>0){this.scrollLeft+=100;e.preventDefault();} else{this.scrollLeft-=100;e.preventDefault();}});
      geid("base-colors").addEventListener("wheel", function(e){if(e.deltaY>0){this.scrollLeft+=100;e.preventDefault();} else{this.scrollLeft-=100;e.preventDefault();}});
      
      let urlParams = new URLSearchParams(window.location.search);
      if(urlParams.has("session"))
        fetchSessionData(urlParams.get("session")); //load model's dressup
      else loadCache(); //local dressup
    }
    function loadCache()
    {
      for(let cat of cats)
      {
        let saved = getCache(cat);
        if(saved && saved!="null") wear(saved, cat);
        let savedColor = getCache(cat+"-color");
        if(savedColor && savedColor!="null") setCatColor(cat, savedColor);
      }
      let savedSkinColor = getCache("skinColor");
        if(savedSkinColor && savedSkinColor!="null") setSkinColor(savedSkinColor);
    }
    
    function fetchSessionData(sessionID)
    {
      clubBeautySession = sessionID;
      geid("clubBeautyLabels").style.display="inline-block";
      let xhr = getApi("fetchClubBeauty");
      let formData = new FormData();
      formData.append("sid", sessionID);
      xhr.onload = () => {
        if(xhr.responseText=='') {
          //invalid session id
          alert("invalid session");
          window.open("playbarbiegirls.blogspot.com","_self")
          return;
        }
        let resJson = JSON.parse(xhr.responseText);
        let modelOriOutfit = JSON.parse(resJson.modelOutfits);
        for(let cat in modelOriOutfit)
          wear(modelOriOutfit[cat],cat);       
        let modelOriColors = JSON.parse(resJson.modelColors);
        for(let cat in modelOriColors){
          let catColor = modelOriColors[cat];
          if(catColor=="") continue;
          if(cat=='skin') setSkinColor(catColor);
          else setCatColor(cat, catColor);
        }
        //init dict for storing makeover changes
        cbMakeoverDict["makeoverOutfit"]= JSON.parse(resJson.modelOutfits);
        cbMakeoverDict["makeoverColors"]= JSON.parse(resJson.modelColors);
      };
  
      xhr.send(formData);
    }
    
    function postMakeoverProgress(status)
    {
      let xhr = getApi("saveClubBeauty");
      let formData = new FormData();
      formData.append("sid", clubBeautySession);
      formData.append("status",status);
      formData.append("modelOutfits",JSON.stringify(cbMakeoverDict["makeoverOutfit"]));
      formData.append("modelColors",JSON.stringify(cbMakeoverDict["makeoverColors"]));
      xhr.onload = () => {
          alert(xhr.responseText);
         
        };
      xhr.send(formData);
    }
    
    function submitMakeover() //end makeover
    {
      postMakeoverProgress("completed");
      //wait for model response
    }
    
    function selectCategory(cat)
    {
      if(currentCategory==cat) return; //do nothing if same category as previous
      currentCategory = cat;
      geid("curThumbnails").innerHTML = ""; //clear current thumbnails
      geid("categoryLabel").innerHTML = cat.toUpperCase();
      let size = assetSize[cat];
      for(let i=1; i<=size; i++)
      {
        let thumb = document.createElement("img");
        thumb.src = apiPrefix + "html/thumbnails/"+cat+"_thumbnails/"+cat+i+".png";
        thumb.style.width = "90px";
        thumb.style.height = "auto";
        thumb.onerror = function() {handleImgError(this);};
        thumb.onclick = function(){clickedWear(this.src, currentCategory);};
        geid("curThumbnails").appendChild(thumb);
      }
      geid("curThumbnails").scrollTop = 0;
      let colors = geid("base-colors").getElementsByClassName("color");
      for(let c of colors)
        c.onclick = function(){clickedCatColor(currentCategory,this.style.backgroundColor);};
      loadColors(cat);
    }
    
    function getfn(url){return url.substring(url.lastIndexOf('/')+1, url.lastIndexOf("."));}
  
    function clickedWear(url, category)
    {
      let filename = url;
      if(filename.includes("/")) filename=getfn(url);
      wear(filename, category);
      if(clubBeautySession=='') {saveCache(category, filename); saveCache(category+"-color", null);}
      else
        {
          cbMakeoverDict["makeoverOutfit"][category] = filename;
          cbMakeoverDict["makeoverColors"][category] = ""; //default color
          postMakeoverProgress(category);
        }
    }
    
    function wear(filename, category)
    {
      if(filename=="") return;
      let defaultImg = geid(category).childNodes.item(0);
      let colorableCanvas = geid(category).childNodes.item(1);
      let textureImg = geid(category).childNodes.item(2);
      defaultImg.src = apiPrefix + "html/"+category+"/"+filename+".png";
      colorableCanvas.data = apiPrefix + "html/"+category+"/"+filename+"c.png";
      colorableCanvas.style.visibility = 'hidden'; //wear default color
      textureImg.src = apiPrefix + "html/"+category+"/"+filename+"t.png";
      geid(category).style.visibility = 'visible';
      if(category=="hair") wear(filename.replace("hair","hairback"), "hairback");
    }
    
    function loadColors(category)
    {
      let key = category;
      if(!colorsDict.hasOwnProperty(key)) key = "others";
      let colorsDiv = geid("base-colors");
      colorsDiv.innerHTML = '';
      for(let color of colorsDict[key])
      {
        let acolor = document.createElement("div");
        acolor.style.backgroundColor = "rgb("+color+")";
        acolor.className = "color";
        acolor.onclick = function(){clickedCatColor(category,this.style.backgroundColor);};
        colorsDiv.appendChild(acolor);
      }
      colorsDiv.scrollLeft = 0;
    }
    
    function clickedCatColor(category, color)
    {
      if(category==null || category=="") return;
      if(geid(category).style.visibility == 'hidden') return;
      setCatColor(category, color);
      if(clubBeautySession=='') saveCache(category+"-color", color);
      else
      {
        cbMakeoverDict["makeoverColors"][category] = color;
        postMakeoverProgress(category+" color");
      }
    }
    
    function setCatColor(category, color)
    {
      if(color=="") return;
      if(category==null || category=="") return;
      if(geid(category).style.visibility == 'hidden') return;
      let colorableCanvas = geid(category).childNodes.item(1);
      let defaultImg = geid(category).childNodes.item(0);
      setColor(defaultImg,colorableCanvas,color);
        if(category=="hair") setCatColor("hairback", color);
    }
    
    function clickedSkinColor(color)
    {
      setSkinColor(color);
      if(clubBeautySession=='') saveCache("skinColor",color);
      else
      {
        cbMakeoverDict["makeoverColors"]["skin"] = color;
        postMakeoverProgress("skin color");
      }
    }
    
    function setSkinColor(color)
    {
      setColor(geid("av_head"),geid("av_head_c"),color);
      setColor(geid("av_body"),geid("av_body_c"),color);
      setColor(geid("av_fist"),geid("av_fist_c"),color);
    }
    
    function setColor(defaultImg,colorableCanvas, color)
    {
      let img=new Image();
      img.onload = function () {
        let dHeight = defaultImg.height;
        let dWidth = defaultImg.width;
        colorableCanvas.height = dHeight;
        colorableCanvas.width = dWidth;
        let ctx = colorableCanvas.getContext('2d'); 
        ctx.drawImage(img,0,0,dWidth,dHeight); //draw original colorable img
        let c=document.createElement('canvas');
        c.width=img.width;
        c.height=img.height;
        let cctx=c.getContext('2d');
        cctx.drawImage(img,0,0,dWidth,dHeight);
        cctx.globalCompositeOperation='source-atop';
        cctx.fillStyle=color;
        cctx.fillRect(0,0,img.width,img.height); //draw colorable img with full new color to canvas c
        ctx.globalCompositeOperation='multiply';
        ctx.drawImage(c,0,0); // draw the fully colored canvas c on top of the grayscale image
        ctx.globalCompositeOperation='source-over';
        colorableCanvas.style.visibility = 'visible';
      }
      img.src = colorableCanvas.data; //reset to original colorable img before set new color
      
    }
      
    function unwear() //always from clicked
    {
      if(currentCategory==null || currentCategory=="") return;
      geid(currentCategory).style.visibility = 'hidden';
      geid(currentCategory).childNodes.item(1).style.visibility = 'hidden';
      if(clubBeautySession=='') saveCache(currentCategory, null);
      else
      {
        cbMakeoverDict["makeoverOutfit"][currentCategory]="";
        postMakeoverProgress("unwear " +currentCategory);
      }
      if(currentCategory=="hair")
      {
        geid("hairback").style.visibility = 'hidden';
        geid("hairback").childNodes.item(1).style.visibility = 'hidden';
        if(clubBeautySession=='')
          saveCache("hairback", null);
      }
    }
    
    function resetColor() //always from clicked
    {
      if(currentCategory==null || currentCategory=="") return;
      geid(currentCategory).childNodes.item(1).style.visibility = 'hidden';
      if(clubBeautySession=='') saveCache(currentCategory+"-color", null);
      else
      {
        cbMakeoverDict["makeoverColors"][currentCategory]="";
        postMakeoverProgress("reset color " +currentCategory);
      }
      if(currentCategory=="hair")
      {
        geid("hairback").childNodes.item(1).style.visibility = 'hidden';
        if(clubBeautySession=='') saveCache("hairback-color", null);
      }
    }
    
    function showCredits(){geid('creditsDialog').showModal();}
    function closeCredits(){geid('creditsDialog').close();}
    
    var resizeTimer = undefined;
    function resizeCanvas()
    {
      let avdiv = geid("avcontainer");
      if(lastAvHeight == avdiv.clientHeight && lastAvWidth == avdiv.clientWidth) return; //do nothing if avcontainer remain size
      avdiv.style.display = 'none';
      if (resizeTimer) {clearTimeout(resizeTimer); resizeTimer = undefined;}
      resizeTimer = setTimeout(() => {
        resizeTimer = undefined;
        location.reload();
      }, 1500); //reload page after 1.5s stopped resizing
    }
    function refreshMainboxSize(){MB.style.height = (window.innerHeight - MB.getBoundingClientRect().top -10) +'px';}
  
    initView();
    var lastAvHeight;
    var lastAvWidth;
    window.onload = function()
    {
      geid('avcontainer').style.height=geid('av_body').clientHeight+"px";
      lastAvHeight = geid("avcontainer").clientHeight; lastAvWidth = geid("avcontainer").clientWidth; 
      refreshMainboxSize();    
    }
    window.onresize = resizeCanvas; 
    document.oncontextmenu=function(){return false;};
  </script>
  
  <style>
    #avcontainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
    }
    #avcontainer img,canvas {
      position: absolute;
      max-height: 54vh; 
    }
    #avcontainer div {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 100%;
      width: 100%;
    }
    #curThumbnails {
      height: 50vh;
      width: auto;
      overflow-y: scroll;
      overflow-x: hidden;
      border: 1px #aabbcc solid;
      padding: 5px;
      text-align: center;
    }
    
    #base-colors{
      position: relative;
      overflow-y: hidden;
      overflow-x: scroll;
      white-space: nowrap;
      width: 100%;
    }
    
    #skin-colors{
      position: relative;
      overflow-y: hidden;
      overflow-x: scroll;
      white-space: nowrap;
    }
    
    .color{
      width: 25px;
      height: 25px;
      margin: 5px;	
      display: inline-block;
    }
    
    #catButtons button{
      display: inline-block;
      outline: 0;
      border: 0;
      cursor: pointer;
      will-change: box-shadow,transform;
      background: #FCFCFD;
      box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
      height: 26px;
      padding: 0 10px;
      font-size: 15px;
      border-radius: 6px;
      color: #36395a;
      transition: box-shadow 0.15s ease,transform 0.15s ease;
    }
    #catButtons button:hover {
      box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
      transform: translateY(-2px);
    }
    #catButtons button:active{
      box-shadow: inset 0px 3px 7px #d6d6e7;
      transform: translateY(2px);
    }
    .whiteButtons {
      display: inline-block;
      outline: 0;
      cursor: pointer;
      border-radius: 8px;
      box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
      background: #FFF;
      border: 1px solid #D5D9D9;
      font-size: 13px;
      height: 25px;
      padding: 0 11px;
      text-align: center;
      font-weight: 400;
      color: #0F1111;
    }
    .whiteButtons:hover{
      background-color: #F7FAFA;
      border-color: #D5D9D9;
    }
    #creditsButton {
      background-color: #04AA6D; /* Green */
      color: white;
    }
    #curThumbnails::-webkit-scrollbar {
      width: 10px;
    }
    #curThumbnails::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #e7e7e7;
      border: 1px solid #cacaca;
    }
    #curThumbnails::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: #e91e638a;
    }
    #mainbox {
      display: flex;
      flex-direction: column;
    }
    body {
      overscroll-behavior-y: contain;
    }
    html {
      overflow: hidden;
    }
  </style>
  