<label>Choose a game:</label>
<select id="gameName" name="gameName" onchange="loadGame()">
  <option value="none">Select game</option>
  <option value="AirHockey">Air Hockey</option>
  <option value="DazzlinNails">Dazzlin Nails</option>
  <option value="FashionFrenzy">Fashion Frenzy</option>
  <option value="LadyBuggin">Lady Buggin</option>
  <option value="SmashinFruits">Smashin Fruits</option>
  <option value="TrickyTriplets">Tricky Triplets</option>
  <option value="ken-dress-up">Ken Dress Up</option>
  <option value="monster_baby">Monster Baby</option>
  <option value="peekaboo_petites_memory_game">Peekaboo Petites Memory Game</option>
  <option value="pixel_chix">Pixel Chix</option>
  <option value="vintage_trivia">Vintage Trivia</option>
</select>
<p></p>
<span>Some games require a desktop, keyboard and mouse to work properly</span>
<div id='ruffle' style="text-align: center;"></div>
<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>
<script>
  var swfobject = {};


  swfobject.embedSWF = function(url, cont, width, height){
    let styleVal = 'width: ' + width + 'px; height: ' + height + 'px';
    let urlParams = new URLSearchParams(window.location.search);
    if(urlParams.has("m")) {
      styleVal = 'width: 90vw; height: 70vh';
    }
    var ruffle = window.RufflePlayer.newest(),
        player = Object.assign(document.getElementById(cont).appendChild(ruffle.createPlayer()), {
          width: width,
          height: height,
          style: styleVal,
        });
    player.load({ url: url });
  }

  function geid(id){return document.getElementById(id);}
  function loadGame()
  {
    let gameToLoad = geid('gameName').value;
    geid('ruffle').innerHTML = '';
    swfobject.embedSWF('html/games/swf/'+gameToLoad+'.swf', 'ruffle', 700, 500);
  }
</script>