@font-face {
    font-family: "barbiefont_general";
    src: url("../html/fonts/70_NeutraBarbie_Text_Demi.ttf");
}

@font-face {
    font-family: "barbiefont_bold";
    src: url("../html/fonts/440_NeutraBarbie_Display_Bold.ttf");
}

#avcontainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    top: -24px;
    left: 113px;
  }
  #avcontainer img,canvas {
    position: absolute;
    height: 400px; 
  }
  #avcontainer div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    width: 100%;
  }
  #curThumbnails {
    height: 50vh;
    width: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px #aabbcc solid;
    padding: 5px;
    text-align: center;
  }
  
  #base-colors{
	position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
	width: 100%;
  }
  
  #skin-colors{
    position: relative;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
  
  .color{
	width: 25px;
	height: 25px;
	margin: 5px;	
    display: inline-block;
  }
  
  #catButtons button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: #FCFCFD;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 26px;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease,transform 0.15s ease;
  }
  #catButtons button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
  }
  #catButtons button:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
  }
  .whiteButtons {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    background: #FFF;
    border: 1px solid #D5D9D9;
    font-size: 13px;
    height: 25px;
    padding: 0 11px;
    text-align: center;
    font-weight: 400;
    color: #0F1111;
  }
  .whiteButtons:hover{
    background-color: #F7FAFA;
    border-color: #D5D9D9;
  }

  #dressup_contents {
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
  }
  #dressup_contents img{
    -webkit-user-drag: none;
  }

  #backgroundFrames {
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
  }

  #backgroundFrames img{
    margin: auto;
    position: absolute;
    width: 800px;
  }

  #frameButtons {
    display: flex;
    position: absolute;
    left: 408px;
    top: 92px;
  }

  #stepsButtons {
    display: flex;
  }

  #stepsButtons div{
    position: relative;
    width: 145px;
    height: 40px;
  }

  #saveButton {
    position: relative;
    max-width: 96px;
    max-height: 22px;
    top: 325px;
    left: -123px;
  }

  #saveButton:hover{
    filter: brightness(0.9);
  }

  #stepsButtons img,label{
    position: absolute;
    width: 145px;
    height: 37px;
    color: white;
  }

  #frameButtons input[type="radio"] {
    display: none;
}

#frameButtonsLarge {
  position: relative;
  display: flex;
  top: 35px;
}

#frameButtonsLarge img{
  width: 160px;
}

#frameButtonsLarge img:hover{
  filter: brightness(0.9);
}

.arrowButtons img:hover, .colorButtons img:hover{
  filter: brightness(0.9);
}

.colorButtons img{
  max-width: 16px; 
}
.thumbDashLines img{
  visibility: hidden;
}
#thumbs_hair img, #thumbs_shoes img, #thumbs_purse img, #thumbs_jewelry img, #thumbs_more img{
  max-width: 56px;
}
#thumbs_eyes img, #thumbs_lips img, #thumbs_tops img, #thumbs_sleeves img, #thumbs_bottoms img{
  max-width: 46px;
}
#thumbsDash_hair img{
  max-width: 66px;
}
#thumbsDash_eyes img, #thumbsDash_lips img{
  max-width: 54px;
}
#thumbsDash_tops img, #thumbsDash_sleeves img, #thumbsDash_bottoms img{
  max-width: 55px;
}
#thumbsDash_shoes img, #thumbsDash_jewelry img, #thumbsDash_purse img, #thumbsDash_more img{
  max-width: 69px;
}

#step1Button:hover img{
  content: url('../html/general_assets/button_step1_select.png');
}
#step2Button:hover img{
  content: url('../html/general_assets/button_step2_select.png');
}
#step3Button:hover img{
  content: url('../html/general_assets/button_step3_select.png');
}

#step1Button input:checked+img{
  content: url('../html/general_assets/button_step1_select.png');
}
#step2Button input:checked+img{
  content: url('../html/general_assets/button_step2_select.png');
}
#step3Button input:checked+img{
  content: url('../html/general_assets/button_step3_select.png');
}

#STEP0_HOME {
  position: absolute;
  width: 480px;
  left: 400px;
  display: flex;
  flex-direction: column;
}

#STEP1_LOOKS {
  position: absolute;
  left: 408px;
  top: 149px;
  display: flex;
}

#STEP1_LOOKS img, #STEP2_DRESS img, #STEP3_ACCESSORIZE img{
  position: absolute;
}

#STEP2_DRESS {
  position: absolute;
  left: 408px;
  top: 149px;
  display: flex;
}

#STEP3_ACCESSORIZE {
  position: absolute;
  left: 408px;
  top: 137px;
  display: flex;
}

.colorSelections div > div{
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background-color: white;
  margin-right: 4px;
}
.colorSelections2 div > div{
  width: 13px;
  height: 13px;
  border-radius: 3px;
  background-color: white;
  margin-right: 5px;
}
#skin_colors {
  position: absolute;
  top: 39px;
  left: 27px;
  display: flex;
  flex-direction: column;
}
#skin_colors div{
  width: 15px;
  height: 15px;
  border-radius: 3px;
  background-color: white;
  margin-top: 3px;
}
#hair_colors {
  position: absolute;
  top: 110px;
  left: 137px;
  display: flex;
}
#eyes_colors {
  position: absolute;
  top: 232px;
  left: 142px;
  display: flex;
}
#lips_colors {
  position: absolute;
  top: 232px;
  left: 336px;
  display: flex;
}
#tops_colors {
  position: absolute;
  top: 102px;
  left: 57px;
  display: flex;
}
#sleeves_colors {
  position: absolute;
  top: 102px;
  left: 362px;
  display: flex;
}
#bottoms_colors {
  position: absolute;
  top: 238px;
  left: 68px;
  display: flex;
}
#shoes_colors {
  position: absolute;
  top: 111px;
  left: 55px;
  display: flex;
}
#purse_colors {
  position: absolute;
  top: 111px;
  left: 298px;
  display: flex;
}
#jewelry_colors {
  position: absolute;
  top: 246px;
  left: 57px;
  display: flex;
}
#more_colors {
  position: absolute;
  top: 246px;
  left: 298px;
  display: flex;
}

  
  body {
    overscroll-behavior-y: contain;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }
  html {
    overflow: hidden;
  }